@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  padding: 15px 60px;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.menu__button {
  display: none;
  border: none;
  outline: none;
  background: transparent;
  width: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__button > span {
  display: block;
  height: 2px;
  width: 40px;
  background-color: #C72728;
}

.menu__button > span:nth-child(2) {
  margin: 5px 0;
}

.menu__links {
  text-transform: uppercase;
  font-size: 14px;
}

.menu__links > a {
  margin-right: 28px;
}

.menu__links > a:hover {
  border-bottom: 1px solid #C72728;
}

.menu__icons {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icons > a {
  padding: 18px 20px;
}

.menu__icons > a:nth-child(1) {
  border-right: 1px solid #C72728;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 60px;
}

.nav__logo > img {
  width: 213px;
  min-height: 52px;
}

.nav__links {
  min-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links > a {
  min-height: 52px;
  margin-right: 3px;
  background-color: #C72728;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-overflow: ellipsis;
  padding: 0 20px;
}

.nav__info {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__info > div > span {
  color: #C72728;
}

@media (max-width: 910px) {
  .menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    width: 100%;
  }
  .nav__links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .nav__links > a {
    display: none;
  }
  .nav__info {
    display: none;
  }
  .nav__logo {
    display: block !important;
  }
  .nav__logo > img {
    width: 190px;
  }
}

@media (max-width: 610px) {
  .menu {
    display: none;
  }
}

.promo {
  min-height: 500px;
  background: url(../img/bg.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 58px;
}

.promo__title {
  font-size: 48px;
  text-transform: uppercase;
  max-width: 1124px;
  margin-bottom: 26px;
}

.promo__title > span {
  color: #C72728;
}

.promo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.promo__button > button {
  background-color: #C72728;
  border: none;
  outline: none;
  color: #fff;
  min-width: 345px;
  height: 76px;
  border-radius: 5px 0px 0 5px;
  font: size 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.promo__button > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 218px;
  height: 76px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 23px;
  border-radius: 0 5px 5px 0;
}

.services {
  background: url(../img/bg_serv.png);
  background-size: cover;
  min-height: 266px;
  width: 100%;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 55px;
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.divider > div {
  border: 1px solid #D0D0D0;
  width: 50%;
  margin: 60px 0;
}

@media (max-width: 1176px) {
  .services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }
}

@media (max-width: 910px) {
  .promo, .services {
    background: #e4e4e4;
  }
  .promo {
    min-height: 300px;
    padding: 20px 0;
  }
  .promo__title {
    font-size: 32px;
  }
}

@media (max-width: 658px) {
  .promo {
    padding: 0 5px;
  }
  .promo__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__button > button, .promo__button span {
    min-width: 280px;
  }
  .promo__title {
    font-size: 24px;
    text-align: center;
  }
  .services {
    margin-top: 40px;
  }
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price > h2 {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 36px;
}

.price__table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

.price__table tr, .price__table td {
  border: 1px solid #8B8B8B;
}

.price__table td {
  padding: 7px 15px;
}

.price__table td:nth-child(2) {
  text-align: center;
}

.price__table tr:nth-child(odd) {
  background-color: #E5E5E5;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category > h2 {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 36px;
  max-width: 936px;
  text-align: center;
  margin: 0 7px;
}

.category__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F9F9F9;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin: 20px;
}

.category__card > div h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 28px;
  margin-left: 37px;
  max-width: 263px;
}

.category__card > div ul {
  margin-top: 40px;
  margin-left: 19px;
  margin-bottom: 15px;
}

.category__card > div li {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .category > h2 {
    font-size: 22px;
  }
}

.contact-form {
  background: url(../img/contact-form.svg);
  background-size: cover;
  height: 728px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 470px;
}

.contact-form > form > h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 27px;
}

.contact-form > form > input, .contact-form > form textarea {
  width: 100%;
  margin-bottom: 19px;
  padding: 12px;
  font-size: 18px;
}

.contact-form > form > textarea {
  height: 198px;
  margin-bottom: 7px;
  resize: none;
}

.contact-form > form > p {
  font-size: 14px;
  margin-bottom: 15px;
}

.contact-form > form > p > a {
  text-decoration: underline;
}

.contact-form > form > p > a:hover {
  color: #C72728;
}

.contact-form > form > button {
  width: 100%;
  height: 77px;
  background-color: #C72728;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  cursor: pointer;
}

.contact-form > form > button:hover {
  -webkit-box-shadow: 0px 0px 12px #C72728;
          box-shadow: 0px 0px 12px #C72728;
  border-radius: 4px;
}

:root {
  --marquee-width: 100%;
  --marquee-height: 224px;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 4s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #fff;
  color: #eee;
  overflow: hidden;
  position: relative;
}

.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
}

.marquee:after {
  right: 0;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scrolling var(--marquee-animation-duration) linear infinite;
          animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
    animation-play-state: paused;
  } */
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
            transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}
@keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
            transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

.marquee-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* text-align: center; */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4);
  /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 161px;
  /* height: 100%; */
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after {
    width: 5rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2 {
  font-family: 'Comforter', cursive;
}
/*# sourceMappingURL=index.css.map */